# The Clustering Methods
1. K-Means
2. Fuzzy C-means or EM
4. DBScan
5. Spectral

## Import the Data

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
import math
import numpy as np
from sklearn.mixture import GaussianMixture
from sklearn import cluster

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).
/content/gdrive/Shareddrives/CSCI 5523 - Data Mining Final Project
 Balance_deprecated.ipynb   classification.ipynb   data
'Bot Detection.gslides'     cluster_2.ipynb	   data.ipynb
 botDetection.mp4	    cluster.ipynb	   Proposal.gdoc

In [ ]:
# Dataset 1
unbal_train = pd.read_json('data/unbal_train.json').replace({'human': 0, 'bot':1})
unbal_test = pd.read_json('data/unbal_test.json').replace({'human': 0, 'bot':1})
# Dataset 2
bal_train = pd.read_json('data/bal_train.json').replace({'human': 0, 'bot':1})
bal_test = pd.read_json('data/bal_test.json').replace({'human': 0, 'bot':1})
# Dataset 3
crop_unbal_train = pd.read_json('data/crop_unbal_train.json').replace({'human': 0, 'bot':1})
crop_unbal_test = pd.read_json('data/crop_unbal_test.json').replace({'human': 0, 'bot':1})
# Dataset 4
human_train = pd.read_json('data/more_human_train.json').replace({'human': 0, 'bot':1})
human_test = pd.read_json('data/more_human_test.json').replace({'human': 0, 'bot':1})

train_df = [unbal_train, bal_train, crop_unbal_train, human_train]
test_df = [unbal_test, bal_test, crop_unbal_test, human_test]

In [ ]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

def print_analysis(test, predictions, label):
  print("-----------------------------------")
  print('{} Accuracy score: {}'.format(label, accuracy_score(test, predictions)))
  print('{} Precision score: {}'.format(label, precision_score(test, predictions)))
  print('{} Recall score: {}'.format(label, recall_score(test, predictions)))
  print('{} F1 score: {}'.format(label, f1_score(test, predictions)))
  print("-----------------------------------\n")

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

# # UNBALANCED
# x_train_u = train_u.to_numpy()[:,:-1].astype(int)   # all cols of train_u except for class label
# x_train_u_scaled = scaler.fit_transform(x_train_u)

# y_train_u = train_u.to_numpy()[:,-1].astype(int)    # only class label (last) column of train_u

# x_test_u = test_u.to_numpy()[:,:-1].astype(int)   # all cols of test_u except for class label
# x_test_u_scaled = scaler.transform(x_test_u)

# y_test_u = test_u.to_numpy()[:,-1].astype(int)    # only class label (last) column of test_u

# # BALANCED
# x_train_b = train_b.to_numpy()[:,:-1].astype(int)   # all cols of train_b except for class label
# x_train_b_scaled = scaler.fit_transform(x_train_b)

# y_train_b = train_b.to_numpy()[:,-1].astype(int)    # only class label (last) column of train_b

# x_test_b = test_b.to_numpy()[:,:-1].astype(int)   # all cols of test_b except for class label
# x_test_b_scaled = scaler.transform(x_test_b)

# y_test_b = test_b.to_numpy()[:,-1].astype(int)    # only class label (last) column of test_b

train_data = []
train_labels = []
test_data = []
test_labels = []
for i in range(len(train_df)):
  train = train_df[i]
  test = test_df[i]
  x_train = train.to_numpy()[:, :-1].astype(int)
  x_train_scaled = scaler.fit_transform(x_train)
  train_data.append(x_train_scaled)
  y_train = train.to_numpy()[:, -1].astype(int)
  train_labels.append(y_train)

  x_test = test.to_numpy()[:, :-1].astype(int)
  x_test_scaled = scaler.transform(x_test)
  test_data.append(x_test_scaled)
  y_test = test.to_numpy()[:, -1].astype(int)
  test_labels.append(y_test)

# K-Means Clustering

### K-means training and resulting centroids

In [ ]:
k_means = []
for i in range(len(train_data)):
  print('Dataset '+ str(i+1))
  data = pd.DataFrame(train_data[i], columns = train_df[i].columns[:-1])
  k = cluster.KMeans(n_clusters=2, max_iter=100, random_state=1)
  k.fit(data)
  k_means.append(k)
  centroids = k.cluster_centers_
  print(pd.DataFrame(centroids, columns=data.columns))

# # K-means on Unbalanced Data
# data = pd.DataFrame(x_train_u_scaled, columns=train_u.columns[:-1])
# k_means = cluster.KMeans(n_clusters=2, max_iter=100, random_state=1)
# k_means.fit(data) 
# labels = k_means.labels_
# pd.DataFrame(labels, columns=['Cluster ID'])

Dataset 1
   verified  geo_enabled  ...  favourites_count  statuses_count
0 -0.089679    -0.237592  ...         -0.147124       -0.158361
1  0.634291     1.680458  ...          1.040588        1.120071

[2 rows x 9 columns]
Dataset 2
   verified  geo_enabled  ...  favourites_count  statuses_count
0 -0.157993    -0.423617  ...         -0.236015       -0.253172
1  0.344719     0.924274  ...          0.514952        0.552387

[2 rows x 9 columns]
Dataset 3
   verified  geo_enabled  ...  favourites_count  statuses_count
0 -0.093626    -0.240170  ...         -0.148566       -0.149068
1  0.646861     1.659331  ...          1.026442        1.029911

[2 rows x 9 columns]
Dataset 4
   verified  geo_enabled  ...  favourites_count  statuses_count
0 -0.000607    -0.000138  ...          0.000056        0.000003
1  4.735021     1.079716  ...         -0.435631       -0.024269

[2 rows x 9 columns]

### Evalute Models on Training Data

In [ ]:
for i in range(len(k_means)):
  print('Dataset '+ str(i+1))
  k = k_means[i]
  labels = np.uint(k.predict(train_data[i]))
  # flip the labels since the random assignment got them backwards
  labels_flipped = np.logical_not(labels).astype(int)
  print_analysis(labels, train_labels[i], 'Training')
  print_analysis(labels_flipped, train_labels[i], 'Training Flipped')


# # Evaluate on training data
# labels = k_means.predict(x_train_u_scaled)
# labels = labels.reshape(-1, 1)
# cols = train_u.columns.tolist()
# cols.append('Cluster ID')
# check = pd.DataFrame(np.concatenate((train_u, labels), axis=1), columns=cols)
# check

Dataset 1
-----------------------------------
Training Accuracy score: 0.08318286378589626
Training Precision score: 0.027502652989034312
Training Recall score: 0.18630191693290735
Training F1 score: 0.04792972362067194
-----------------------------------

-----------------------------------
Training Flipped Accuracy score: 0.9168171362141038
Training Flipped Precision score: 0.9724973470109657
Training Flipped Recall score: 0.9313966291183197
Training Flipped F1 score: 0.9515033528012112
-----------------------------------

Dataset 2
-----------------------------------
Training Accuracy score: 0.21387193944543137
Training Precision score: 0.025629077353215284
Training Recall score: 0.04054054054054054
Training F1 score: 0.031404644080700414
-----------------------------------

-----------------------------------
Training Flipped Accuracy score: 0.7861280605545686
Training Flipped Precision score: 0.9743709226467847
Training Flipped Recall score: 0.706657654613045
Training Flipped F1 score: 0.8191968658178257
-----------------------------------

Dataset 3
-----------------------------------
Training Accuracy score: 0.08712443036996988
Training Precision score: 0.025447427293064876
Training Recall score: 0.16676847892486255
Training F1 score: 0.044156894460169835
-----------------------------------

-----------------------------------
Training Flipped Accuracy score: 0.9128755696300301
Training Flipped Precision score: 0.9745525727069351
Training Flipped Recall score: 0.9244031830238727
Training Flipped F1 score: 0.9488156820038116
-----------------------------------

Dataset 4
-----------------------------------
Training Accuracy score: 0.8293370944992948
Training Precision score: 0.0
Training Recall score: 0.0
Training F1 score: 0.0
-----------------------------------

-----------------------------------
Training Flipped Accuracy score: 0.17066290550070523
Training Flipped Precision score: 1.0
Training Flipped Recall score: 0.17055655296229802
Training Flipped F1 score: 0.29141104294478526
-----------------------------------

### Evaluate Model on Testing Data

In [ ]:
for i in range(len(k_means)):
  print('Dataset '+ str(i+1))
  k = k_means[i]
  labels = np.uint(k.predict(test_data[i]))
  # flip the labels since the random assignment got them backwards
  labels_flipped = np.logical_not(labels).astype(int)
  print_analysis(labels, test_labels[i], 'Testing')
  print_analysis(labels_flipped, test_labels[i], 'Testing Flipped')

Dataset 1
-----------------------------------
Testing Accuracy score: 0.07785912148793035
Testing Precision score: 0.024644994718929704
Testing Recall score: 0.1721311475409836
Testing F1 score: 0.043116723129042196
-----------------------------------

-----------------------------------
Testing Flipped Accuracy score: 0.9221408785120696
Testing Flipped Precision score: 0.9753550052810703
Testing Flipped Recall score: 0.9350810081008101
Testing Flipped F1 score: 0.9547934976161756
-----------------------------------

Dataset 2
-----------------------------------
Testing Accuracy score: 0.19894964473277726
Testing Precision score: 0.02599758162031439
Testing Recall score: 0.041951219512195125
Testing F1 score: 0.03210153042179919
-----------------------------------

-----------------------------------
Testing Flipped Accuracy score: 0.8010503552672228
Testing Flipped Precision score: 0.9740024183796856
Testing Flipped Recall score: 0.7283001808318263
Testing Flipped F1 score: 0.8334195550957061
-----------------------------------

Dataset 3
-----------------------------------
Testing Accuracy score: 0.08804448563484708
Testing Precision score: 0.03143491124260355
Testing Recall score: 0.20334928229665072
Testing F1 score: 0.05445227418321589
-----------------------------------

-----------------------------------
Testing Flipped Accuracy score: 0.9119555143651529
Testing Flipped Precision score: 0.9685650887573964
Testing Flipped Recall score: 0.9290528556225612
Testing Flipped F1 score: 0.9483976099945681
-----------------------------------

Dataset 4
-----------------------------------
Testing Accuracy score: 0.8323076923076923
Testing Precision score: 0.0
Testing Recall score: 0.0
Testing F1 score: 0.0
-----------------------------------

-----------------------------------
Testing Flipped Accuracy score: 0.1676923076923077
Testing Flipped Precision score: 1.0
Testing Flipped Recall score: 0.1676923076923077
Testing Flipped F1 score: 0.2872200263504611
-----------------------------------

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Recall is ill-defined and being set to 0.0 due to no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

# Prototype-Based Model: Gaussian Mixture

### Gaussian Mixture training and resulting centroids

In [ ]:
gaussian = []
for i in range(len(train_data)):
  print('Dataset '+ str(i+1))
  data = pd.DataFrame(train_data[i], columns = train_df[i].columns[:-1])
  gm = GaussianMixture(n_components=2, random_state=1).fit(data)
  gaussian.append(gm)
  centroids = gm.means_
  print(pd.DataFrame(centroids, columns=data.columns))

Dataset 1
   verified  geo_enabled  ...  favourites_count  statuses_count
0 -0.077743    -0.219195  ...         -0.111328       -0.134562
1  0.767573     2.164166  ...          1.099164        1.328558

[2 rows x 9 columns]
Dataset 2
   verified  geo_enabled  ...  favourites_count  statuses_count
0 -0.167663    -0.200376  ...         -0.221606       -0.232353
1  0.526870     0.629668  ...          0.696383        0.730155

[2 rows x 9 columns]
Dataset 3
   verified  geo_enabled  ...  favourites_count  statuses_count
0 -0.095495    -0.328203  ...         -0.187164       -0.173137
1  0.395642     1.359770  ...          0.775435        0.717318

[2 rows x 9 columns]
Dataset 4
   verified  geo_enabled  ...  favourites_count  statuses_count
0  0.540536     0.214335  ...          0.307285        0.379966
1 -0.211192    -0.083742  ...         -0.120059       -0.148456

[2 rows x 9 columns]

### Evaluate on Training Data

In [ ]:
for i in range(len(gaussian)):
  print('Dataset '+ str(i+1))
  gm = gaussian[i]
  labels = np.uint(gm.predict(train_data[i]))
  # flip the labels since the random assignment got them backwards
  labels_flipped = np.logical_not(labels).astype(int)
  print_analysis(labels, train_labels[i], 'Training')
  print_analysis(labels_flipped, train_labels[i], 'Training Flipped')

Dataset 1
-----------------------------------
Training Accuracy score: 0.06980138019738306
Training Precision score: 0.0005305978068623983
Training Recall score: 0.004840010755579457
Training F1 score: 0.000956353106819329
-----------------------------------

-----------------------------------
Training Flipped Accuracy score: 0.930198619802617
Training Flipped Precision score: 0.9994694021931376
Training Flipped Recall score: 0.9236175429038409
Training Flipped F1 score: 0.9600475691593283
-----------------------------------

Dataset 2
-----------------------------------
Training Accuracy score: 0.28693905924152313
Training Precision score: 0.026250388319353838
Training Recall score: 0.05395913154533844
Training F1 score: 0.03531870428422153
-----------------------------------

-----------------------------------
Training Flipped Accuracy score: 0.7130609407584768
Training Flipped Precision score: 0.9737496116806461
Training Flipped Recall score: 0.6387162506367804
Training Flipped F1 score: 0.7714268135113517
-----------------------------------

Dataset 3
-----------------------------------
Training Accuracy score: 0.05020468062099328
Training Precision score: 0.04427665920954511
Training Recall score: 0.1885668916236602
Training F1 score: 0.07171435041896279
-----------------------------------

-----------------------------------
Training Flipped Accuracy score: 0.9497953193790067
Training Flipped Precision score: 0.9557233407904548
Training Flipped Recall score: 0.9832182585347142
Training Flipped F1 score: 0.9692758555492532
-----------------------------------

Dataset 4
-----------------------------------
Training Accuracy score: 0.44210796255930246
Training Precision score: 0.9721804511278196
Training Recall score: 0.23060460139111824
Training F1 score: 0.3727836240449762
-----------------------------------

-----------------------------------
Training Flipped Accuracy score: 0.5578920374406975
Training Flipped Precision score: 0.027819548872180452
Training Flipped Recall score: 0.01687956204379562
Training Flipped F1 score: 0.021010789324247586
-----------------------------------

### Evaluate on Testing Data

In [ ]:
for i in range(len(gaussian)):
  print('Dataset '+ str(i+1))
  gm = gaussian[i]
  labels = np.uint(gm.predict(test_data[i]))
  # flip the labels since the random assignment got them backwards
  labels_flipped = np.logical_not(labels).astype(int)
  print_analysis(labels, test_labels[i], 'Testing')
  print_analysis(labels_flipped, test_labels[i], 'Testing Flipped')

Dataset 1
-----------------------------------
Training Accuracy score: 0.06519588444796201
Training Precision score: 0.0002347142354183781
Training Recall score: 0.002145922746781116
Training F1 score: 0.0004231460911879826
-----------------------------------

-----------------------------------
Training Flipped Accuracy score: 0.934804115552038
Training Flipped Precision score: 0.9997652857645816
Training Flipped Recall score: 0.9284001743679163
Training Flipped F1 score: 0.9627620500649827
-----------------------------------

Dataset 2
-----------------------------------
Training Accuracy score: 0.2829780661105962
Training Precision score: 0.02781136638452237
Training Recall score: 0.06060606060606061
Training F1 score: 0.03812681309573145
-----------------------------------

-----------------------------------
Training Flipped Accuracy score: 0.7170219338894037
Training Flipped Precision score: 0.9721886336154776
Training Flipped Recall score: 0.648910411622276
Training Flipped F1 score: 0.7783155856727976
-----------------------------------

Dataset 3
-----------------------------------
Training Accuracy score: 0.05004633920296571
Training Precision score: 0.04807692307692308
Training Recall score: 0.20602218700475436
Training F1 score: 0.07796101949025487
-----------------------------------

-----------------------------------
Training Flipped Accuracy score: 0.9499536607970342
Training Flipped Precision score: 0.9519230769230769
Training Flipped Recall score: 0.9877206446661551
Training Flipped F1 score: 0.9694915254237289
-----------------------------------

Dataset 4
-----------------------------------
Training Accuracy score: 0.44051282051282054
Training Precision score: 0.9724770642201835
Training Recall score: 0.22714285714285715
Training F1 score: 0.3682686740011581
-----------------------------------

-----------------------------------
Training Flipped Accuracy score: 0.5594871794871795
Training Flipped Precision score: 0.027522935779816515
Training Flipped Recall score: 0.016363636363636365
Training Flipped F1 score: 0.02052451539338655
-----------------------------------

# Check for outliers

In [ ]:
cols = train_df[0].columns.tolist()
cols.append('Cluster ID')
check = pd.DataFrame(np.concatenate((train_data[-1], labels), axis=1), columns=cols)
check['Cluster ID'].value_counts()

0    8208
1    1900
Name: Cluster ID, dtype: int64

This appears to struggling with a single outlier so what if we remove it

In [ ]:
train_u_new = train_u.drop(train_u.index[17007])
x_train_u_new = train_u_new.to_numpy()[:,:-1].astype(int)
x_train_u_new_scaled = scaler.fit_transform(x_train_u_new)
y_train_u_new = train_u_new.to_numpy()[:,-1].astype(int)

x_test_u_new_scaled = scaler.transform(x_test_u)

In [ ]:
gm = GaussianMixture(n_components=2, random_state=0).fit(x_train_u_new_scaled)
gm.means_

array([[-0.09412137, -0.31914039,  0.25360375,  0.38436984, -0.01097372,
        -0.08258622, -0.03375535, -0.17752917, -0.17573083],
       [ 0.41520221,  1.4078396 , -1.1187346 , -1.69558947,  0.04840892,
         0.36431661,  0.14890661,  0.78314308,  0.77520998]])

### Evaluate on Training Data

In [ ]:
labels = gm.predict(x_train_u_new_scaled)
labels = labels.reshape(-1, 1)
cols = test_u.columns.tolist()
cols.append('Cluster ID')
check = pd.DataFrame(np.concatenate((train_u_new, labels), axis=1), columns=cols)
check

      verified geo_enabled  ... bot Cluster ID
0        False       False  ...   0          1
1        False       False  ...   0          1
2        False       False  ...   1          0
3        False       False  ...   1          0
4        False       False  ...   1          0
...        ...         ...  ...  ..        ...
40423    False       False  ...   1          0
40424    False       False  ...   1          0
40425    False       False  ...   1          0
40426    False       False  ...   1          0
40427    False       False  ...   1          0

[40428 rows x 11 columns]

In [ ]:
labels = np.uint(gm.predict(x_train_u_new_scaled))
# flip the labels since the random assignment got them backwards
labels_flipped = np.logical_not(labels).astype(int)
print_analysis(labels_flipped, y_train_u_new, 'Training')

-----------------------------------
Training Accuracy score: 0.951246660730187
Training Precision score: 0.956130020021199
Training Recall score: 0.9854043392504931
Training F1 score: 0.9705464815672679
-----------------------------------

### Evaluate on Testing Data

In [ ]:
labels = gm.predict(x_test_u_new_scaled)
labels = labels.reshape(-1, 1)
cols = test_u.columns.tolist()
cols.append('Cluster ID')
check = pd.DataFrame(np.concatenate((test_u, labels), axis=1), columns=cols)
check

      verified geo_enabled  ... bot Cluster ID
0        False       False  ...   1          0
1        False       False  ...   1          0
2        False       False  ...   1          0
3        False       False  ...   1          0
4        False       False  ...   1          0
...        ...         ...  ...  ..        ...
10103    False       False  ...   1          0
10104    False       False  ...   0          1
10105    False       False  ...   1          0
10106    False       False  ...   1          0
10107    False       False  ...   1          0

[10108 rows x 11 columns]

In [ ]:
labels = np.uint(gm.predict(x_test_u_new_scaled))
# flip the labels since the random assignment got them backwards
labels_flipped = np.logical_not(labels).astype(int)
print_analysis(labels_flipped, y_test_u, 'Testing')

-----------------------------------
Testing Accuracy score: 0.9531064503363672
Testing Precision score: 0.9583726415094339
Testing Recall score: 0.9853297769156159
Testing F1 score: 0.9716642754662841
-----------------------------------

### Train Model on Balanced Data

In [ ]:
from sklearn.mixture import GaussianMixture

gm = GaussianMixture(n_components=2, random_state=0).fit(x_train_b_scaled)
gm.means_

array([[-2.77744956e-03, -5.71528344e-04,  4.41013628e-05,
         6.33606808e-04, -1.18661748e-02, -1.70606769e-03,
        -1.80791904e-02, -1.18010791e-04, -1.65283404e-03],
       [ 5.99049580e+00,  1.23269138e+00, -9.51192892e-02,
        -1.36658428e+00,  2.55933614e+01,  3.67970366e+00,
         3.89938004e+01,  2.54529608e-01,  3.56488756e+00]])

### Evaluate on Training Data

In [ ]:
labels = gm.predict(x_train_b_scaled)
labels = labels.reshape(-1, 1)
cols = train_b.columns.tolist()
cols.append('Cluster ID')
check = pd.DataFrame(np.concatenate((train_b, labels), axis=1), columns=cols)
check

      verified geo_enabled  ... bot Cluster ID
0        False        True  ...   0          0
1        False       False  ...   1          0
2        False       False  ...   0          0
3        False       False  ...   1          0
4        False       False  ...   1          0
...        ...         ...  ...  ..        ...
12942    False       False  ...   1          0
12943    False        True  ...   0          0
12944    False       False  ...   1          0
12945    False        True  ...   0          0
12946    False       False  ...   0          0

[12947 rows x 11 columns]

In [ ]:
labels = np.uint(gm.predict(x_train_b_scaled))
# flip the labels since the random assignment got them backwards
labels_flipped = np.logical_not(labels).astype(int)
print_analysis(labels_flipped, y_train_b, 'Training')

-----------------------------------
Training Accuracy score: 0.49787595581988103
Training Precision score: 1.0
Training Recall score: 0.49764314967931383
Training F1 score: 0.6645683917238533
-----------------------------------

In [ ]:
check['Cluster ID'].value_counts()

0    12941
1        6
Name: Cluster ID, dtype: int64

In [ ]:
check[check['Cluster ID'] == 1]

      verified geo_enabled  ... bot Cluster ID
2539      True       False  ...   0          1
6175      True        True  ...   0          1
8093      True        True  ...   0          1
8537      True        True  ...   0          1
9403      True        True  ...   0          1
12130     True        True  ...   0          1

[6 rows x 11 columns]

### Evaluate on Testing Data

In [ ]:
labels = gm.predict(x_test_b_scaled)
labels = labels.reshape(-1, 1)
cols = test_b.columns.tolist()
cols.append('Cluster ID')
check = pd.DataFrame(np.concatenate((test_b, labels), axis=1), columns=cols)
check

     verified geo_enabled  ... bot Cluster ID
0       False       False  ...   1          0
1       False       False  ...   1          0
2       False       False  ...   1          0
3       False       False  ...   1          0
4       False       False  ...   1          0
...       ...         ...  ...  ..        ...
3232    False        True  ...   0          0
3233    False       False  ...   0          0
3234    False        True  ...   0          0
3235    False        True  ...   0          0
3236    False        True  ...   0          0

[3237 rows x 11 columns]

In [ ]:
labels = np.uint(gm.predict(x_test_b_scaled))
# flip the labels since the random assignment got them backwards
labels_flipped = np.logical_not(labels).astype(int)
print_analysis(labels_flipped, y_test_b, 'Testing')

-----------------------------------
Testing Accuracy score: 0.5103490886623416
Testing Precision score: 1.0
Testing Recall score: 0.5103490886623416
Testing F1 score: 0.6758028226631213
-----------------------------------

Again appears to be struggling with a single outlier. Try removing

In [ ]:
train_b_new = train_b.drop(train_b.index[3798])
x_train_b_new = train_b_new.to_numpy()[:,:-1].astype(int)
x_train_b_new_scaled = scaler.fit_transform(x_train_b_new)
y_train_b_new = train_b_new.to_numpy()[:,-1].astype(int)

x_test_b_new_scaled = scaler.transform(x_test_b)

In [ ]:
gm = GaussianMixture(n_components=2, random_state=0).fit(x_train_b_new_scaled)
gm.means_

array([[-0.16644822, -0.16312698,  0.05457096,  0.18143088, -0.01952676,
        -0.10547728, -0.05637636, -0.21563272, -0.23475893],
       [ 0.86421617,  0.84697198, -0.28333801, -0.94200767,  0.10138493,
         0.54764881,  0.29271185,  1.11958717,  1.21889236]])

### Evaluate on Training Data

In [ ]:
labels = gm.predict(x_train_b_new_scaled)
labels = labels.reshape(-1, 1)
cols = train_b_new.columns.tolist()
cols.append('Cluster ID')
check = pd.DataFrame(np.concatenate((train_b_new, labels), axis=1), columns=cols)
check

      verified geo_enabled  ... bot Cluster ID
0        False       False  ...   1          0
1        False        True  ...   0          0
2        False       False  ...   1          0
3        False        True  ...   0          0
4        False        True  ...   0          0
...        ...         ...  ...  ..        ...
12941    False       False  ...   1          0
12942    False       False  ...   0          0
12943    False        True  ...   0          0
12944    False       False  ...   1          0
12945    False       False  ...   0          0

[12946 rows x 11 columns]

In [ ]:
labels = np.uint(gm.predict(x_train_b_new_scaled))
# flip the labels since the random assignment got them backwards
labels_flipped = np.logical_not(labels).astype(int)
print_analysis(labels_flipped, y_train_b_new, 'Training')

-----------------------------------
Training Accuracy score: 0.6599721921829136
Training Precision score: 0.9990713511840272
Training Recall score: 0.5948760482904801
Training F1 score: 0.7457255083179298
-----------------------------------

### Evaluate on Testing Data

In [ ]:
labels = gm.predict(x_test_b_new_scaled)
labels = labels.reshape(-1, 1)
cols = test_b.columns.tolist()
cols.append('Cluster ID')
check = pd.DataFrame(np.concatenate((test_b, labels), axis=1), columns=cols)
check

     verified geo_enabled  ... bot Cluster ID
0       False        True  ...   0          1
1       False       False  ...   0          0
2       False       False  ...   0          1
3       False       False  ...   1          0
4       False       False  ...   1          0
...       ...         ...  ...  ..        ...
3232    False        True  ...   0          0
3233    False       False  ...   0          1
3234    False        True  ...   0          0
3235    False       False  ...   1          0
3236    False        True  ...   1          0

[3237 rows x 11 columns]

In [ ]:
labels = np.uint(gm.predict(x_test_b_new_scaled))
# flip the labels since the random assignment got them backwards
labels_flipped = np.logical_not(labels).astype(int)
print_analysis(labels_flipped, y_test_b, 'Testing')

-----------------------------------
Testing Accuracy score: 0.6570898980537535
Testing Precision score: 0.9993868792152054
Testing Recall score: 0.5951077035414385
Testing F1 score: 0.7459954233409611
-----------------------------------